<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <title>Todo</title>
    </head>
    <body ng-app="Todo">
        <div ng-controller="controller">
            <h3>Things I need to do:</h3>
            <div ng-repeat="item in todo.list">
                <li>{{ item }}</li>
            </div>
            <input ng-model="addTodo">
            <button ng-click="addItem(todo.list, addTodo)">Add This To-Do</button>

            <h3>Books I need to buy</h3>
            <div ng-repeat="book in books.list">
                <li>{{ book }}</li>
            </div>
            <input ng-model="addBook">
            <button ng-click="addItem(books.list, addBook)">Add This Book</button>

        </div>
        <!-- Include Module -->
        <script src="app.js"></script>
        <!-- Include Controller -->
        <script src="controller.js"></script>
    </body>
</html>